<br>
<div class="dropdown" style="display:inline-block;">
  <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Theme: {{ theme | capitalize }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		<li><a href="" ng-click="setTheme('default')" class="theme-link">Default</a></li>
		<!--<li><a href="" ng-click="setTheme('cerulean')" class="theme-link">Cerulean</a></li>-->
		<!--<li><a href="" ng-click="setTheme('cosmo')" class="theme-link">Cosmo</a></li>-->
		<li><a href="" ng-click="setTheme('cyborg')" class="theme-link">Cyborg</a></li>
		<!--<li><a href="" ng-click="setTheme('darkly')" class="theme-link">Darkly</a></li>-->
		<!--<li><a href="" ng-click="setTheme('flatly')" class="theme-link">Flatly</a></li>-->
		<!--<li><a href="" ng-click="setTheme('journal')" class="theme-link">Journal</a></li>-->
		<li><a href="" ng-click="setTheme('lumen')" class="theme-link">Lumen</a></li>
		<li><a href="" ng-click="setTheme('slate')" class="theme-link">Slate</a></li>
		<li><a href="" ng-click="setTheme('superhero')" class="theme-link">Superhero</a></li>
  </ul>
</div>