<form ng-submit="videoCtrl.search()">
	<div class="row">
		<div class="col-xs-6">
			<div class="input-group">
		      <input type="text" class="form-control" ng-model="videoCtrl.searchObj.q">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
			</div><!-- /input-group -->
		</div>

		<div class="col-xs-6">
			<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{ videoCtrl.searchObj.type | formatSearchType }}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="" ng-click="videoCtrl.setSearchType('video,channel,playlist')">All</a></li>
				    <li><a href="" ng-click="videoCtrl.setSearchType('video')">Video</a></li>
				    <li><a href="" ng-click="videoCtrl.setSearchType('playlist')">Playlist</a></li>
				    <li><a href="" ng-click="videoCtrl.setSearchType('channel')">Channel</a></li>
				  </ul>
			</div>
		</div>
	</div>
</form>

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div class="player-container">
	<div id="player"></div>
</div>

<button class="btn btn-default btn-md loop-btn"
				ng-class="{active: videoCtrl.loop}"
				ng-click="videoCtrl.toggleLoop()"><span class="glyphicon glyphicon-repeat"></span>Loop</button>

<div class="video-details-container" ng-controller="VideoDetailTabsCtrl as videoDetailTabsCtrl">
	<ul class="nav nav-tabs">
	  <li role="presentation"
	  		ng-class="{active: videoDetailTabsCtrl.activeTab === 'info'}"
	  		ng-click="videoDetailTabsCtrl.setActive('info')">
	  	<a href="">Info</a>
	  </li>
	  <li role="presentation"
	  		ng-class="{active: videoDetailTabsCtrl.activeTab === 'comments'}"
	  		ng-click="videoDetailTabsCtrl.setActive('comments')">
	  	<a href="">Comments</a>
	  </li>
	  <li role="presentation"
	  		ng-class="{active: videoDetailTabsCtrl.activeTab === 'related'}"
	  		ng-click="videoDetailTabsCtrl.setActive('related')">
	  	<a href="">Related</a>
	  </li>

	  <li role="presentation"
	  		ng-show="videoDetailTabsCtrl.playlistVideos.length > 0"
	  		ng-class="{active: videoDetailTabsCtrl.activeTab === 'playlist'}"
	  		ng-click="videoDetailTabsCtrl.setActive('playlist')">
	  	<a href="">Playlist</a>
	  </li>

	  <li role="presentation"
	  		ng-class="{active: videoDetailTabsCtrl.activeTab === 'channel'}"
	  		class="dropdown"
	  		ng-show="videoDetailTabsCtrl.channelSubtab">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false" ng-click="videoDetailTabsCtrl.setActive('channel')">
	      Channel: {{ videoDetailTabsCtrl.channelSubtab }}<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="" ng-click="videoDetailTabsCtrl.setChannelTab('Videos')">Videos</a></li>
				<li><a href="" ng-click="videoDetailTabsCtrl.setChannelTab('Playlists')">Playlists</a></li>
	    </ul>
	  </li>
	</ul>

	<div ng-show="videoDetailTabsCtrl.activeTab === 'info'"
		class="tab-container">
		{{ videoDetailTabsCtrl.video.snippet.title }}
		<br>
		<a href="" ng-click="videoDetailTabsCtrl.openChannelFromVideo(videoDetailTabsCtrl.video)">
			{{ videoDetailTabsCtrl.video.snippet.channelTitle }}</a>
			<hr>
			{{ videoDetailTabsCtrl.video.snippet.description }}
	</div>

	<div ng-show="videoDetailTabsCtrl.activeTab === 'comments'"
		class="tab-container">
		<div ng-repeat="comment in videoDetailTabsCtrl.comments">
				<span ng-bind-html="comment.snippet.topLevelComment.snippet.textDisplay"></span>
				- <b>{{ comment.snippet.topLevelComment.snippet.authorDisplayName }}</b>
			<hr>
		</div>
		<br style="clear: left;" />
	</div>

	<div ng-show="videoDetailTabsCtrl.activeTab === 'related'"
		class="tab-container container-fluid">
		<div class="row related-items-container">
			<div ng-repeat="relatedVideo in videoDetailTabsCtrl.relatedVideos"
					class="col-xs-3 related-item-container text-center"
					ng-hide="relatedVideo.snippet.title === ''"
					ng-click="videoCtrl.playVideo(relatedVideo)">

					<div class="related-video-image-thumbnail">
		  			<img ng-src="{{ relatedVideo.snippet.thumbnails.default.url }}" class="img-thumbnail">
		  		</div>
					{{ relatedVideo.snippet.title | limitTo: 27 }}
					{{ relatedVideo.snippet.title.length > 27 ? '...' : '' }}
			</div>
		</div>
	</div>

	<div ng-show="videoDetailTabsCtrl.activeTab === 'playlist'"
		class="tab-container">

		<button ng-click="videoDetailTabsCtrl.playPreviousPlaylistVideo()"
					class="btn btn-default btn-sm">Previous</button>
		<button ng-click="videoDetailTabsCtrl.playNextPlaylistVideo()"
					class="btn btn-default btn-sm">Next</button>

		<button ng-click="videoDetailTabsCtrl.enlargePlaylist()"
					class="btn btn-default btn-sm">Enlarge</button>

		<div class="playlist-videos-container">
			<div ng-repeat="playlistVideo in videoDetailTabsCtrl.playlistVideos"
					class="playlist-video-container"
					ng-click="videoCtrl.playVideo(playlistVideo)"
					ng-class="{'activevideoplaylist': videoDetailTabsCtrl.video.id.videoId == playlistVideo.snippet.resourceId.videoId}">

		  		<img ng-src="{{ playlistVideo.snippet.thumbnails.default.url }}" class="img-thumbnail">
		  		<br>
					<span>{{ playlistVideo.snippet.title | limitTo: 27}}
								{{ playlistVideo.snippet.title.length > 27 ? '...' : '' }}</span>
			</div>
		</div>
	</div>

	<div ng-show="videoDetailTabsCtrl.activeTab === 'channel'"
		class="tab-container container-fluid">
		{{ videoDetailTabsCtrl.channel.snippet.title }}
		<div ng-show="videoDetailTabsCtrl.channelSubtab === 'Videos'"
					class="row related-items-container">
			<div ng-repeat="video in videoDetailTabsCtrl.channelVideos"
						class="col-xs-3 related-item-container text-center"
						ng-click="videoCtrl.playVideo(video)">

					<div class="related-video-image-thumbnail">
		  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
		  		</div>
					{{ video.snippet.title | limitTo: 27 }}
					{{ video.snippet.title.length > 27 ? '...' : '' }}

			</div>
		</div>

		<div ng-show="videoDetailTabsCtrl.channelSubtab === 'Playlists'"
					class="row related-items-container">
			<div ng-repeat="video in videoDetailTabsCtrl.channelPlaylists"
						class="col-xs-3 related-item-container text-center"
						ng-click="videoDetailTabsCtrl.playPlaylist(video)">

					<div class="related-video-image-thumbnail">
		  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
		  		</div>
					{{ video.snippet.title | limitTo: 27 }}
					{{ video.snippet.title.length > 27 ? '...' : '' }}

			</div>
		</div>

	</div>

	<div id="playlist-dialog" title="Playlist">
	  <div class="lplaylist-videos-container">
	  	<div class="lplaylist-video-container"
	  				ng-repeat="video in videoDetailTabsCtrl.playlistVideos"
	  				ng-class="{'activevideoplaylist': videoDetailTabsCtrl.video.id.videoId == video.snippet.resourceId.videoId}">

	  		<div ng-click="videoCtrl.playVideo(video)">
		  		<div class="video-image-thumbnail">
		  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
		  		</div>

		  		<div class="video-text-items">
			  		<span class="video-title">
							{{ video.snippet.title }}
						</span>
						<br>
						<span class="video-author">
							by {{ video.snippet.channelTitle }}
						</span>
						⋅
						<span class="video-time-ago">
							{{ video.snippet.publishedAt | timeago }}
						</span>
					</div>

					<br style="clear: left;" />
				</div> <!-- /ng-show if it's a video -->
			</div>
		</div>
	</div>
</div>

<div id="video-dialog" title="Search results">
  <div class="video-results-container">
  	<div class="video-result-container"
  				ng-repeat="video in videoCtrl.videos">

  		<div ng-show="video.id.kind === 'youtube#video'"
  					ng-click="videoCtrl.playVideo(video)">
	  		<div class="video-image-thumbnail">
	  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
	  		</div>

	  		<div class="video-text-items">
		  		<span class="video-title">
						{{ video.snippet.title }}
					</span>
					<br>
					<span class="video-author">
						by <a href="" ng-click="videoCtrl.openChannelFromVideo(video, $event)">
								{{ video.snippet.channelTitle }}</a>
					</span>
					⋅
					<span class="video-time-ago">
						{{ video.snippet.publishedAt | timeago }}
					</span>
				</div>

				<br style="clear: left;" />
			</div> <!-- /ng-show if it's a video -->

			<div ng-show="video.id.kind === 'youtube#playlist'"
						ng-click="videoCtrl.playPlaylist(video)">
				<div class="video-image-thumbnail">
	  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
	  		</div>

	  		<div class="video-text-items">
		  		<span class="video-title">
						<b>Playlist</b>: {{ video.snippet.title }}
					</span>
					<br>
					<span class="video-author">
						by {{ video.snippet.channelTitle }}
					</span>
					⋅
					<span class="video-time-ago">
						{{ video.snippet.publishedAt | timeago }}
					</span>
				</div>

				<br style="clear: left;" />
			</div>

			<div ng-show="video.id.kind === 'youtube#channel'"
						ng-click="videoCtrl.openChannel(video)">
				<div class="video-image-thumbnail">
	  			<img ng-src="{{ video.snippet.thumbnails.default.url }}" class="img-thumbnail">
	  		</div>

	  		<div class="video-text-items">
		  		<span class="video-title">
						<b>Channel</b>: {{ video.snippet.title }}
					</span>
					<br>
					<span class="video-author">
						{{ video.snippet.description }}
					</span>
				</div>

				<br style="clear: left;" />
			</div>
  	</div> <!-- /video-result-container ng-repeat -->
  </div>
</div>